fastapi
uvicorn[standard]
python-multipart
pydantic-settings
python-dotenv

langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-groq
langchain-voyageai
langchain-qdrant
qdrant-client

pypdf
SQLAlchemy
psycopg2-binary
asyncpg
langgraph
